<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/build/qrcode.min.js"></script>

    <title>Панель Кассира</title>
    
</head>
<body>
    <div class="sidebar">
        <div class="sidebar-section">
            <h2 style="padding-left: 15px;">Панель Кассира</h2>
            <div>
                <a href="#" class="sidebar-toggle">Города</a>
                <div class="dropdown" id="city-dropdown">
                    <a href="#">Самарканд</a>
                </div>
            </div>
        </div>
        <a href="/logout" class="logout">Выйти</a>
    </div>
    <div class="container">
        <div class="header">
            <h1>Добро пожаловать!</h1>
            <div class="ticket-container">
                <div class="ticket-info">
                    <h2 id="headerCity">Samarkand</h2>
                    <p>Место проведения: Центр молодежи</p>
                    <p>23.04.2024 • 14:00</p>
                    <span id="ticket-price"></span>
                    <p>- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </p>
                </div>
                <div id="qr-code-container" style="display: none;">
                    <canvas id="qr-code-canvas"></canvas>
                    <img id="qr-code-img" alt="QR Code" style="display: none;">
                </div>
                <div id="price-update-form" class="price-update-form" style="display: none;">
                    <label for="num-tickets">Количество билетов:</label>
                    <div class="increment-decrement-buttons">
                        <button id="decrement-tickets">-</button>
                        <input type="number" id="num-tickets" placeholder="Введите количество билетов" min="1" value="1">
                        <button id="increment-tickets">+</button>
                    </div>
                    <label for="new-ticket-price">Цена за билет:</label>
                    <input type="text" id="new-ticket-price" placeholder="Введите цену за билет">
                    <p>Скидка: <span id="discount">0</span>%</p>
                    <p>Комиссия: 0</p>
                    <span id="ticket-price-value"></span>
                    <button id="buy-tickets" class="button">Купить</button>
                </div>
                <button id="generate-qr" class="button">Сгенерировать QR</button>
                <button id="update-price" class="button">Форма оплаты</button>
            </div>
        </div>
    </div>
    
</body>
</html>